{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<!--<section class="p-5" id="box">

    <h2 style="color: yellow">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h4 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h4>

    <button type="button" class="btn btn">Купити</button>

    <p class="user">text</p>
    </section>


    <section class="h-5 box">
        <strong>Test</strong>
        <h1>kfhgkh</h1>
        <em>pikco</em>
        <p class="jkjkjkjk">Link</p>
    </section>


    <footer class="p-5 box">
        <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
        <p> text</p>
        <div>
            <div>
                <em>Test EM</em>
            </div>
        </div>

    </footer>


    {{!--
    Цей код містить лише те, що буде виводитись в

    <body>
        Адже наш layout/default.hbs має вже структуру HTML
        --}}


        <div class="card h-5 m-5 card-dark">
            <ul>
                <li class="item">1</li>
                <li class="item">2</li>
                <li class="item">3</li>
                <li class="item">4</li>
            </ul>
        </div>
        <div class="card h-5 m-5 card-dark">
            <ul>
                <li class="item">1</li>
                <li class="item">2</li>
                <li class="item">3</li>
                <li class="item">4</li>
            </ul>
        </div>
        <div class="card ps-5 ms-5">
            <b>first</b>
            <p>first</p>
            <p>first</p>
            <b>first</b>
        </div>

        <div class="card ps-5 ms-5">
            <strong>1</strong>
            <strong class="big">2</strong>
            <p></p>
        </div>
    </body>
    </section>-->


{{!<div class="card p-5 m-5 card-dark">
     <input class="input-dark" reqired> <!--85-91-->
     <input class="input-dark">
</div>
<div class="card p-5 m-5 card-dark">
     <input class="input-dark" reqired>
     <input class="input-dark" type="number"><!--93-95-->

</div>
<div class="card p-5 m-5 card-dark"> <!--97-99-->
     <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
</div>
<div class="card p-5 m-5 card-dark"> <!--101-103-->
     <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
</div>
<div class="card p-5 m-5 card-dark"> <!--105-107-->
     <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
     <a href="https://picsum.photos/200/300" rel="external">Link</a>
</div>
<div class="card p-5 m-5 card-dark"> <!--109-1011-->
     <button class="btn-secondary">Click me</button>
     <button class="btn btn-secondary">Click me</button>
     <button class="btn">Click me</button>
</div>
<div class="card p-5 m-5 card-dark"> <!--113-115-->
     <a class="btn-secondary">Click me</a>
     <br>
     <button class="btn">Click me</button>
     <br>
     <a class="small btn-secondary">Click me</a>

     <div class="card p-5 m-5 card-dark"> <!--117-119-->
          <button class="small btn-secondary">Click me</button>
          <br>
          <button class="btn btn-pramary">Click me</button>
          <br>
          <button class="btn">Click me</button>
     </div>
</div>
<div class="card p-5 m-5 card-dark"> <!--120-123-->
     <button class="small btn-secondary">Click me</button>
     <br>
     <button class="btn btn-pramary">Click me</button>
     <br>
     <button class="card-btn">Click me</button>
</div>
<div class="card p-5 m-5 card-dark"> <!--129-131-->
     <p class="small btn-secondary">Click me</p>
     <h5 class="big-text">это очеhь большой текст, кторый не вмещаетя никуда </h5>
</div>
<div class="card p-5 m-5 card-dark"> <!--133-136-->
     <input class="input-dark" placeholder="this is text">

</div>
<div class="card p-5 m-5 card-dark"> <!--138-142-->
     <h4 class="bag-text">
          это очень большой текст,<br /> кторый не вмещается

     </h4>

</div>
<div class="card p-5 m-5 card-dark"> <!--143-146-->
     <button class="before-after btn">Click me</button>

</div>--}}


<div class="card p-5 m-5 card-dark">
     <a href="#test">Clik me</a>
</div>
<div class="card p-5 m-5 card-dark">
     test
</div>
<div id="test" class="card p-5 m-5 card-dark"> <!--151-153-->
     якір
</div>


<div class="card p-5 m-5 card-dark">
     <a class="link" href="https://wwwjftoj.com/">Clik me</a>
</div>

<div id="test" class="card p-5 m-5 card-dark"> <!--151-165-->
     якір
</div>

<section id="test" class="card p-5 m-5 card-dark"> <!--167-169-->
     <input>
</section>
<div id="test" class="card p-5 m-5 card-dark"> <!--171-173-->
     <input>
</div>

<div lang="fr" class="card p-5 m-5 card-dark">
     <input>
</div>
<div lang="en" class="card p-5 m-5 card-dark"> <!--174-181-->
     <input>
     <span>Hello, world!</span>
</div>


<div class=" p-5 m-5 card-dark"> <!--184-193-->
     <button>Test</button>
     <button disabled>Disabled</button>
</div>

<div class=" p-5 m-5 card-dark">
     <input class="inp">
</div>

<div class=" p-5 m-5 card-dark">
     <input class="inp" readonly><!--199-201-->

     <div class="mt-5">
          <div>
               <input type="checkbox"> <!--просто на input type="checkbox" не працює-->
               <span>First</span>
          </div>
          <div>
               <input type="checkbox"> <!--203-205-->
               <span>Second</span>
          </div>
     </div>
</div>
<div class=" p-5 m-5 card-dark">
     <input type"email" required class="valid"> <!--207-213-->
</div>

<div class="card p-5 m-5 card-dark">
     <div>
          <input type="email" class="valid"> <!--217-222-->
     </div>

     <div class=" mt-5 ">
          <input type="number" min="10" max="20" required class="number"> <!--223-233-->
          <input type"email" class="valid" placeholder="TEST">
     </div>


</div>