:root {
  background: purple;
}

html {
  max-width: 720px;
  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}


h1 {
  color: green;
}

h1 {
  color: blue;
}

.box {
  background: #6e6e6e;
}

#user {
  color: aqua;
}

h1,
h2,
button.button {
  color: hotpink;
}

.button {
  background: #406934;
  color: darkmagenta;
}

#box>p {
  color: yellowgreen;
}

footer em {
  color: chocolate;
}

h1~p {
  background: rgb(10, 1, 19);
}