h3 {
  background: rgb(205, 194, 231);
}

.card>h3 {
  color: green hsla(127, 100%, 63%, 1);
  -webkit-text-fill-color: rgb(255, 246, 8);

  -webkit-text-stroke: 1px rgb(255, 0, 166);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5em
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgba(216, 26, 184, 0.911);
  -webkit-text-stroke: 1px darkblue;
  direction: rtl;
  writing-mode: vertical-lr;
  text-align: justify;

}

pre {
  tab-size: 10;

}

* {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-display: swap;
}

span {
  text-decoration: underline dotted red;
  font-size: small;
  font-weight: 900;
  font-style: italic;
}

.test {
  font-size: larger;
  font-weight: lighter;
  font-style: oblique;
}

span:hover {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}

h4 {
  font-stretch: expanded;
}

/*span {
  display: none
}*/
.block {
  display: block;
  margin-left: 50px;
  background: rgb(224, 220, 220);
  width: fit-content;
  max-width: min-content;
  height: min-content;
  min-height: max-content;

}